$main-color: #F9F7F3;
$main-padding: 20px;
$main-margin: 10px;

@mixin radius($pixels){
  -moz-border-radius: $pixels;
	-webkit-border-radius: $pixels;
	border-radius: $pixels;
}

@mixin linear-0-100($start-color, $end-color){
  background: -moz-linear-gradient(top, $start-color 0%, $end-color 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,$start-color), color-stop(100,$end-color)) fixed; /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color,GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, $start-color 0%, $end-color 100%); /* opera */
}

body { 
  background: #F9F7F3;
  @include linear-0-100(#F9F7F3, #fff);
  color: #333;
  margin: 0px; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/*------------ ESTILOS GENERALES ------------*/
#wrapper, #content {
  margin: 0 auto;
  width: 950px;
}

#header{
  background: opacify(rgba(127, 63, 0, 0.5), 0.1);
  padding: $main-padding;
  margin-bottom: $main-margin * 2;
}

#container{
  @include radius(8px);
  background: #fff;
  padding: $main-padding / 2;
}
