body {
  background: #F9F7F3;
  background: -moz-linear-gradient(top, #f9f7f3 0%, white 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f7f3), color-stop(100, white)) fixed;
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start-color, endColorstr=$end-color,GradientType=0 );
  /* ie */
  background: -o-linear-gradient(top, #f9f7f3 0%, white 100%);
  /* opera */
  color: #333;
  margin: 0px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

/*------------ ESTILOS GENERALES ------------*/
#wrapper, #content {
  margin: 0 auto;
  width: 950px; }

#header {
  background: rgba(127, 63, 0, 0.6);
  padding: 20px;
  margin-bottom: 20px; }

#container {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #fff;
  padding: 10px; }
